In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
### Load csv file.

In [4]:
df = pd.read_csv('infantMortalityRate.csv')

In [5]:
### Gather info on loaded file.

In [6]:
df.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Infant mortality rate (probability of dying be...,Both sexes,46.51 [37.71-55.82]
1,Afghanistan,2019,Infant mortality rate (probability of dying be...,Male,49.8 [40.2-59.95]
2,Afghanistan,2019,Infant mortality rate (probability of dying be...,Female,43.05 [34.82-51.96]
3,Afghanistan,2018,Infant mortality rate (probability of dying be...,Both sexes,48.04 [39.94-56.32]
4,Afghanistan,2018,Infant mortality rate (probability of dying be...,Male,51.35 [42.56-60.4]

In [7]:
df.head(10)

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Infant mortality rate (probability of dying be...,Both sexes,46.51 [37.71-55.82]
1,Afghanistan,2019,Infant mortality rate (probability of dying be...,Male,49.8 [40.2-59.95]
2,Afghanistan,2019,Infant mortality rate (probability of dying be...,Female,43.05 [34.82-51.96]
3,Afghanistan,2018,Infant mortality rate (probability of dying be...,Both sexes,48.04 [39.94-56.32]
4,Afghanistan,2018,Infant mortality rate (probability of dying be...,Male,51.35 [42.56-60.4]
5,Afghanistan,2018,Infant mortality rate (probability of dying be...,Female,44.56 [36.88-52.43]
6,Afghanistan,2017,Infant mortality rate (probability of dying be...,Both sexes,49.61 [42.08-57.23]
7,Afghanistan,2017,Infant mortality rate (probability of dying be...,Male,52.95 [44.77-61.25]
8,Afghanistan,2017,Infant mortality rate (probability of dying be...,Female,46.12 [38.95-53.2]
9,Afghanistan,2016,Infant mortality rate (probability of dying be...,Both sexes,51.32 [44.36-58.38]

In [8]:
print(df.shape)

(29999, 5)

In [9]:
print(df.columns)

Index(['Location', 'Period', 'Indicator', 'Dim1', 'First Tooltip'], dtype='object')

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       29999 non-null  object
 1   Period         29999 non-null  int64
 2   Indicator      29999 non-null  object
 3   Dim1           29999 non-null  object
 4   First Tooltip  29999 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.1+ MB
None

In [11]:
df['Location'] = df['Location'].astype('str')

In [12]:
df.describe(include=['object'])

,Location,Indicator,Dim1,First Tooltip
count,29999,29999,29999,29999
unique,177,1,3,29803
top,Saint Lucia,Infant mortality rate (probability of dying be...,Male,103.6 [84.23-130.7]
freq,210,29999,10000,11

In [13]:
### Sort the data

In [14]:
df.sort_values(by=['Period', 'Dim1'], ascending =[False , False]).head()

,Location,Period,Indicator,Dim1,First Tooltip
1,Afghanistan,2019,Infant mortality rate (probability of dying be...,Male,49.8 [40.2-59.95]
175,Albania,2019,Infant mortality rate (probability of dying be...,Male,9.52 [8.89-10.23]
301,Algeria,2019,Infant mortality rate (probability of dying be...,Male,21.25 [20.56-21.97]
499,Andorra,2019,Infant mortality rate (probability of dying be...,Male,3.09 [0.89-11.52]
604,Angola,2019,Infant mortality rate (probability of dying be...,Male,55.25 [29.29-95.39]

In [15]:
### To get the maximum data entry.

In [16]:
df.apply(np.max)

Location                                               Timor-Leste
Period                                                        2019
Indicator        Infant mortality rate (probability of dying be...
Dim1                                                          Male
First Tooltip                                  99.99 [95.56-104.8]
dtype: object

In [17]:
### Getting a summary of useful data

In [18]:
pd.crosstab(df['Period'], df['Dim1'])

Dim1    Both sexes  Female  Male
Period
1950            49      49    49
1951            57      57    57
1952            64      64    64
1953            68      68    68
1954            70      70    70
...            ...     ...   ...
2015           172     172   172
2016           172     172   172
2017           172     172   172
2018           172     172   172
2019           172     172   172

[70 rows x 3 columns]

In [19]:
df.loc[df['Location'] == 'Nigeria']

,Location,Period,Indicator,Dim1,First Tooltip
21834,Nigeria,2019,Infant mortality rate (probability of dying be...,Both sexes,74.16 [60.07-93.56]
21835,Nigeria,2019,Infant mortality rate (probability of dying be...,Male,80.58 [65.27-101.9]
21836,Nigeria,2019,Infant mortality rate (probability of dying be...,Female,67.35 [54.4-85.09]
21837,Nigeria,2018,Infant mortality rate (probability of dying be...,Both sexes,75.74 [62.98-93.05]
21838,Nigeria,2018,Infant mortality rate (probability of dying be...,Male,82.28 [68.39-101.1]
...,...,...,...,...,...
21997,Nigeria,1965,Infant mortality rate (probability of dying be...,Male,201.5 [173.6-235.8]
21998,Nigeria,1965,Infant mortality rate (probability of dying be...,Female,174 [149.9-203.5]
21999,Nigeria,1964,Infant mortality rate (probability of dying be...,Both sexes,192.7 [162.4-229.8]
22000,Nigeria,1964,Infant mortality rate (probability of dying be...,Male,206.5 [173.5-246.8]
22001,Nigeria,1964,Infant mortality rate (probability of dying be...,Female,178.1 [149.7-213.2]